{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Paradise</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>
       <!--  <style>
            body {
              background-image: url('{% static "bcg1.jpg" %}');
            }
            </style> -->
    </head>
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
  <a href="{% url 'home' %}" class="w3-bar-item w3-button">Home</a>
  <a href="{% url 'list_fooditem' %}" class="w3-bar-item w3-button">Food Item Details</a>
  <a href="{% url 'show_customer' %}" class="w3-bar-item w3-button">Customer Details</a>
  <a href="{% url 'list_employee' %}" class="w3-bar-item w3-button">Employee Details</a>
  <a href="{% url 'logout' %}" class="w3-bar-item w3-button">Logout</a>
</div>

<!-- Page Content -->
<div class="w3-blue">
  <button class="w3-button w3-blue w3-xlarge" onclick="w3_open()">☰</button>
  <div class="w3-container">
    <h1><i>Welcome To Paradise</i></h1>
  </div>
</div>

<!-- <div style="background-image: url('{% static 'bcg.jpg' %}');"> -->

<div class="w3-container">
    {% block content%}
    {% endblock content%}
</div>
<!-- </div> -->
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin="anonymous"></script>        
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html> 
